.section-container {
  display: flex;
  border: 5px solid white;
  width: 100%;
  height: 850px;
  border-radius: 25px;
  background-color: white;
  margin-top: 50px;
}

/* LEFT CONTENT */
.left-content {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.left-content img {
  width: 500px;
  height: 450px;
  border-radius: 25px;
}

.left-container p {
  text-align: center;
}

/* RIGHT CONTENT */
.title-content {
  margin-top: 100px;
  display: flex;
}

.title-content h4 {
  font-size: 20px;
  letter-spacing: 3px;
}

.price {
  margin-left: 300px;
  margin-top: 5px;
  color: #fc1055;
  font-size: 14px;
}

.ticket-icon {
  width: 50px;
  height: 50px;
  background-color: #f1eaff;
  border-radius: 10px;
}

.ticket-icon img {
  margin: 14px;
}

.ticket-section {
  margin-left: 15px;
}

.ticket-section h5 {
  font-size: 14px;
}

.ticket-section p {
  font-size: 12px;
}

.price-container {
  margin-left: 200px;
}

.price-container h5 {
  font-size: 18px;
}

.buy-button {
  width: 300px;
  height: 50px;
  margin-top: 35px;
}

.detail-color {
  color: #3366ff;
  font-size: 14px;
}

.detail-size {
  font-size: 14px;
}
