.order-section-container {
  display: flex;
  border: 5px solid white;
  width: 85%;
  height: 600px;
  border-radius: 25px;
  background-color: white;
  margin-top: 50px;
}

.rotate-seat {
  transform: rotate(-45deg);
}

.ticket-scrolling {
  height: 300px;
  overflow: auto;
  /* background-color: brown; */
}

.ticket-icon {
  width: 45px;
}

@media (max-width: 767.98px) {
  .rotate-seat {
    transform: none;
  }
}

.tes {
  background-color: black;
}
