@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /*box-sizing: border-box;*/
}

/* RIGHT CONTAINER */

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  outline: none;
}
.input-container input {
  border: 0;
}

.icon {
  margin: 0 10px;
}

.contain {
  /* background-color: red; */
  height: 624px;
  justify-content: center;
  margin: 100px auto;
  padding-right: 50px;
  padding-left: 50px;
}

.logo-contain {
  justify-content: flex-end;
}

.logo {
  width: 150px;
  height: 60px;
}

.signin-button {
  width: 350px;
}

.google-logo {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.facebook-logo {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
  }
  .sign-footer {
    display: none;
  }
}

.tes {
  background-color: black !important;
}
